<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success">Digital Haven</h2>
                
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item  rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.facebook.com/profile.php?id=61552611381789&mibextid=ZbWKwL"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item  rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://instagram.com/digital__haven__?igshid=NGVhN2U2NjQ0Yg=="><i class="bi bi-instagram"></i></a>
                    </li>
                    <li class="list-inline-item  rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item  rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://wa.me/527451247858"><i class="bi bi-whatsapp"></i></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2023 | Desarrollador: @ndress
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>