{% extends "store/layouts/main.html" %}
{%load static%}

<!--pagina de categorias-->

{% block title %}
    Tienda
{% endblock title %}

{% block content %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Categorias</h1>
            <hr>
            <div class="row">
                {% for item in category %}
                <div class="col-md-3">
                    <div class="card">
                        <a style="text-decoration:none; color: black;" href="{% url 'collectionsview' item.slug %}">
                            <div class="card-body">
                                <div class="category-image">
                                    <img src="{{ item.image.url }}" class="card-img-top w-100">
                                </div>
                                <h4>{{ item.name }}</4>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<br /><br /><br />
<br />
<br />
<div class="container">
    <h1 class="text-center">Productos</h1>
    <hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for prod in products %}
        <div class="col">
            <div class="card shadow-sm">
                <img src="{{ prod.product_image.url }}">
                <div class="card-body">
                    <p class="card-text">{{ prod.name }}</p>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="float-start"><s>${{ prod.original_price | stringformat:'d' }}</s></small>
                        <!--precio original-->
                        <small class="float-end">${{ prod.selling_price | stringformat:'d' }}</small>
                        <!--precio con descuento-->
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="">
                            <button data-product="{{ prod.id }}" data-action="add" type="button"
                                class="btn btn-sm btn-outline-secondary update-cart">
                                Agregar
                            </button>
                            <a class="btn btn-sm btn-outline-success"
                                href="{% url 'productview' prod.category.slug prod.slug %}">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<br/><br/><br/>

   
{% endblock content %}
{% block footer %}
    {% include "store/inc/footer.html" %}
{% endblock footer %}